@import '../../styles/settings.scss';

.search-engine-wrapper {
  padding-top: 45px;
}

.search-engine {
  display: flex;
  transition: $transition;
  &__input {
    width: 290px;
    height: 45px;
    padding: 13px 60px 13px 13px;
    background: #f9fafc;
    color: #9c9b9b;
    border: 1px solid #d6d4d4;
    outline: none;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    font-size: 14px;
    &:focus{
      border: 1px solid $color-main-focus;
      border-right: none;
    }
  }
  &__button {
    width: 50px;
    color: $color-light;
    background: $color-main;
    border: none;
    font-size: 16px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    &:hover {
      color: $color-main-fill;
      cursor: pointer;
    }
  }
  &:focus-within{
    -webkit-box-shadow: 0px 0px 5px 0px rgba(241,196,15,1);
    -moz-box-shadow: 0px 0px 5px 0px rgba(241,196,15,1);
    box-shadow: 0px 0px 5px 0px rgba(241,196,15,1);
    border-radius: 5px;
  }
}
