@import '../../styles/settings.scss';

.container {
  width: 1170px;
  text-align: center;
  align-items: center;
}

/* Header */
.header-wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
  /* Logo */
  img {
    width: 200px;
  }
}

/* TopNav */
.top-nav-wrapper {
  margin-top: 40px;
}

/* Centre section */
.centre-wrapper {
  display: flex;
  margin-top: 40px;
}

/*Products section */
.products-wrapper {
  // border: 1px solid red;
  padding-top: 5px;
  width: 900px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-left: 20px;
}
