@import '../../styles/settings.scss';

.container {
  width: 1170px;
  text-align: center;
  align-items: center;
}

/* Header */
.header-wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
  /* Logo */
  img {
    width: 200px;
  }
}

/* TopNav */
.top-nav-wrapper {
  margin-top: 40px;
}

/* Centre section */
.centre-wrapper {
  display: flex;
  margin-top: 40px;
}

/*Main section */
.main-section-wrapper {
  width: 900px;
}
