@import '../../../styles/settings.scss';

.contact {
  background-color: #e4e5e7;
  margin: 5px 50px 0 50px;
  border-radius: $radius;
  color: $color-dark;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 35px;
  position: relative;
  h1 {
    text-decoration: underline;
    text-decoration-color: $color-success;
  }

  form {
    margin-top: 20px;
    input {
        padding: 10px;
        width: 450px;
        border-radius: $radius;
        background: #f9fafc;
        color: $color-dark;
        border: 1px solid #d6d4d4;
        margin-bottom: 10px;
      &:focus{
        border: 1px solid $color-main-focus;
        outline: none;
      }
    }
    .contact__message-input {
        height: 150px;
        padding-bottom: 123px;
    }
    button {
        border: none;
        border-radius: $radius;
        color: $color-light;
        background: $color-main;
        margin-top: 30px;
        height: 45px;
        width: 150px;
        font-size: 14px;
        letter-spacing: .8px;
        &:hover {
          cursor: pointer;
          background-color: $color-main-fill;
        }
    }
  }
}

.contact-send-status {
  color: $color-warning;
  font-size: 13px;
  position: absolute;
  top: 385px;
  left: 320px;
}

/* MEDIA */
@media (max-width: 1000px) {
  .contact {
    form {
      input {
        width: auto;
      }
    }
  }
}
