
$color-light: #fff;
$color-dark: #333;
$background-color: #f2f3f5;


//FOR EXAMPLE

// $color-success: #26de81;
// $color-warning: #e1644e;

$font-text: 'Poppins', sans-serif;

$radius: 5px;
$base-size: 12px;
$transition: all 0.5s;
