
$color-light: #fff;
$color-dark: #333;
$color-main: #6c902d;
$color-main-fill: #5b801c;
$color-main-focus: #f1c40f;
$color-main2: #4a3d3e;
$background-color: #f2f3f5;
$color-success: #4cd137;
$color-dark-gray: #b1b2b4;
$color-light-gray: #e4e5e7;
$radius: 5px;
$transition: all 0.5s;


// $color-warning: #e1644e;

$font-text: 'Poppins', sans-serif;
$base-size: 12px;
