@import '../../styles/settings.scss';

.login-wrapper {
  display: flex;
  justify-content: flex-end;
  height: 37px;
  background-color: $color-dark;
  color: $color-light;
  font-weight: bold;
  padding-right: 20px;
  &__div {
    display: flex;
    justify-content: center;
    align-items: center;
    border-left: 1px solid #555;
    border-right: 1px solid #555;
    cursor: pointer;
    margin-left: 10px;
    padding-left: 15px;
    padding-right: 15px;
    &:hover {
      background: #222;
    }
  }
  a {
    color: $color-light;
    text-decoration: none;
    margin: 0;
    font-size: ($base-size *1.03);
  }
}
