@import '../../styles/settings.scss';

.loginHeader {
  display: flex;
  justify-content: flex-end;
  height: 40px;
  background-color: $color-dark;
  color: $color-light;
  font-weight: bold;
  padding-top: 12px;
  //padding-right: 20px;

  &__link {
    color: $color-light;
    text-decoration: none;
    padding-right: 20px;
  }
}
